# This is still a work in progress, you need to replace values to your own and properly configure the security groups and IAM rights. We will update the template as the code improves. Delete this line and renamce the file to config.json.
{
	"aws": {
		"AccessKey": "your access key",
		"SecretKey": "your secret key",
		"DefaultRegion": "us-west-2", 
		"RegionSettings": {
			"us-west-1":{
				"QuarantineSecurityGroup": "sg-xxx",
				"AnalysisSecurityGroup": "sg-xxx",
				"SSHKey":  "host key",
				"User": "ec2-user **replace if you want, this is amazon Linux default user**",
				"AMI":  "ami-ccf297fc **replace if you want, this is amazon Linux AMI**"
				},
			"us-west-1":{
				"QuarantineSecurityGroup": "sg-xxx",
				"AnalysisSecurityGroup": "sg-xxx",
				"SSHKey":  "host key",
				"User": "ec2-user **replace if you want, this is amazon Linux default user**",
				"AMI":  "ami-ccf297fc **replace**"
				}
			}
	},
	"chef": {
		"chefserver": "http://your-chef-server-ip:4000",
		"clientname": "your client name",
		"keylocation": "./client1.pem"
	},
	"qualys": {
		"username": "your-username",
		"password": "your-password",
		"scanner_IP": "your qualys virtual scanner IP"
	},
	"cloudpassage": {
		"id": "halo API id",
		"secret": "secret",
		"VA_scanner_zone": "the zone (in CIDR) of your qualys scanner. Must be set as a Halo IP zone"
	}
}